<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDf8cFSbeqZMvqmfPD17_IUQNjuCV1D6ec</string>
	<key>GCM_SENDER_ID</key>
	<string>385510487289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.storyMate</string>
	<key>PROJECT_ID</key>
	<string>st-mate-3dcc6</string>
	<key>STORAGE_BUCKET</key>
	<string>st-mate-3dcc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385510487289:ios:0852f404a80d44e2805e28</string>
	<key>DATABASE_URL</key>
	<string>https://st-mate-3dcc6-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>